@media only screen and (max-width: 768px){
    nav {
        flex-wrap: wrap;
        align-items: center;
    }
    
    nav ul.hidden {
        display: none;
    }
    nav ul {
        background-color: #FFFFFF; 
        position: absolute;
        top: 96px; 
        left: 0;
        width: 100%;
        padding: 1rem 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan agar terlihat jelas */
        z-index: 999;
        flex-direction: column;
    }
    nav ul li a {
        font-size: 0.9rem;
    }
    nav .menu-icon {
        display: flex;
        cursor: pointer;
    }

    /* HERO SECTION */
    .hero-section {
        background: 
            url(/assets/image/hero-section/background-hp.png),
            linear-gradient(180deg, #2A049C, #5F29FF);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .hero-section .text-hero h2 {
        margin-top: 5rem;
        font-size: 13vw;
    }
    .hero-section .text-hero p {
        font-size: 1rem;
    }
    .text-hero button {
        font-size: 0.9rem;
        padding: 12px 30px;
    }
    .hero-section .bintang-kirikecil {
        top: 60%;
        left: 0;
    }
    .hero-section .bintang-kiriatas {
        top: 24%;
        left: 5%;
    }
    .hero-section .bintang-kiribesar {
        display: none;
    }
    .hero-section .bintang-kananbawah {
        top: 55%;
        left: 75%;
    }
    .hero-section .bintang-kanankecil {
        top: 15%;
        left: 90%;
    }
    .hero-section .bintang-kananbesar {
        top: 20%;
        left: 70%;
    }
    
    .hero-section .bintang-kiriatas,
    .hero-section .bintang-kiribesar,
    .hero-section .bintang-kananbawah,
    .hero-section .bintang-kananbesar {
        width: 12vw; 
    }
    
    /* ABOUT SECTION */
    .about-section {
        min-height: 600px;
        padding: 3rem 1rem;
        background: 
            url(/assets/image/about-section/background-hp.png),
            linear-gradient(180deg, #2A049C, #5F29FF);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .text-about h2 {
        font-size: 13vw;
        letter-spacing: -1px;
    }
    .text-about p {
        font-size: 1rem;
    }
    /* TUJUAN SECTION */
    .tujuan-section {
        padding: 0 1rem;
    }
    .text-tujuan h2 {
        font-size: 13vw;
        letter-spacing: -1px;
    }
    .text-tujuan p {
        font-size: 1rem;
    }

    /* BIDANG SECTION */
    .bidang-container {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .left {
        position: relative;
        left: 0;
        top: auto;
        transform: none;
        max-width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .bidang-slide h2 {
        font-size: 13vw;
        letter-spacing: -1px;
    }
    .bidang-slide p {
        font-size: 1rem;
    }

    .bidang-nav {
        position: absolute;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40%;
    }

    .bidang-dots {
        flex-direction: row;
        gap: 5px;
    }

    .dot {
        width: 6px;
        height: 6px;
    }
    #prev i,
    #next i {
        display: inline-block !important;
        visibility: visible !important;
        font-size: 1.5rem; 
        color: white !important; 
        opacity: 1 !important;
    }

    /* TIMELINE SECTION */
    .timeline {
        height: 1210px;
    }
    .timeline h2 {
        font-size: 13vw;
        margin-bottom: 2rem;
    }
    .timeline-container::before {
        bottom: 6%;
    }
    
    .timeline-item {
        padding: 0 1rem;
        width: 100%;
        grid-template-columns: 1fr 60px 1fr; /* Mengecilkan jarak tengah */
    }
    .timeline-content {
        padding: 0.8rem;
        max-width: 300px;
    }
    .timeline-content h3 {
        font-size: 0.7rem;
    }
    .timeline-content p {
        font-size: 0.7rem;
    }
    .timeline-circle {
        width: 35px;
        height: 35px;
        font-size: 1.3rem;
    }
}
