@media (max-width: 480px){
    /*==================== NAVBAR ====================*/
    nav {
        flex-wrap: wrap;
        align-items: center;
        padding: 0 1.5rem;
    }
    nav .logo img{
        width: 35%;
    }
    nav .logo span {
        font-size: 1.5rem;
    }
    nav ul.hidden {
        display: none;
    }
    nav ul {
        background-color: #FFFFFF; 
        position: absolute;
        top: 96px; 
        left: 0;
        width: 100%;
        padding: 1rem 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan agar terlihat jelas */
        z-index: 999;
        flex-direction: column;
    }
    nav ul li a {
        font-size: 1rem;
    }
    nav .menu-icon {
        display: flex;
        cursor: pointer;
    }

    /*==================== HERO SECTION ====================*/
    .hero-section {
        background: 
            url(/assets/image/hero-section/background-hp.png),
            linear-gradient(180deg, #2A049C, #5F29FF);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        height: 650px;
    }
    .hero-section .text-hero h2 {
        margin-top: 7rem;
        font-size: 13vw;
    }
    .hero-section .text-hero p {
        font-size: 1rem;
    }
    .text-hero .button {
        font-size: 0.9rem;
        padding: 12px 20px;
    }
    .hero-section .bintang-kirikecil {
        top: 60%;
        left: 0;
    }
    .hero-section .bintang-kiriatas {
        top: 24%;
        left: 5%;
    }
    .hero-section .bintang-kiribesar {
        display: none;
    }
    .hero-section .bintang-kananbawah {
        top: 55%;
        left: 75%;
    }
    .hero-section .bintang-kanankecil {
        top: 15%;
        left: 90%;
    }
    .hero-section .bintang-kananbesar {
        top: 20%;
        left: 70%;
    }
    
    .hero-section .bintang-kiriatas,
    .hero-section .bintang-kiribesar,
    .hero-section .bintang-kananbawah,
    .hero-section .bintang-kananbesar {
        width: 12vw; 
    }
    .live-hero .live {
        padding: 0 45px;    
        animation: tickerMove 1.5s linear infinite;
    }
    .live-hero img {
        width: 25%;
    }
    
    /*==================== ABOUT SECTION ====================*/
    .about-section {
        min-height: 600px;
        padding: 3rem 1rem;
        background: 
            url(/assets/image/about-section/background-hp.png),
            linear-gradient(180deg, #2A049C, #5F29FF);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .text-about h2 {
        font-size: 13vw;
        letter-spacing: -1px;
    }
    .text-about p {
        font-size: 1rem;
    }

    /*==================== TUJUAN SECTION ====================*/
    .tujuan-section {
        padding: 0 1rem;
    }
    .text-tujuan h2 {
        font-size: 13vw;
        letter-spacing: -1px;
    }
    .text-tujuan p {
        font-size: 1rem;
    }
    .tujuan-section .bintang-kirikecil{
        top: 68%;
        left: 3%;
    }
    .tujuan-section .bintang-kiriatas{
        top: 17%;
        left: 10%;
    }
    .tujuan-section .bintang-kiribesar{
        top: 75%;
        left: 78%;
        width: 14vw;
    }
    .tujuan-section .bintang-kanankecil{
        top: 30%;
        left: 50%;
    }
    .tujuan-section .bintang-kananbawah{
        display: none;
    }
    .tujuan-section .bintang-kirikecil,
    .tujuan-section .bintang-kiriatas,
    .tujuan-section .bintang-kanankecil {
        width: 9vw; 
    }

    /*==================== BIDANG SECTION ====================*/
    .bidang-section {
        width: 100%;
        height: 750px;
    }
    .bidang-container {
        margin-top: -40%;   
        text-align: center;
    }
    .left {
        position: relative;
        left: 0;
        top: auto;
        transform: none;
        max-width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .bidang-slide h2 {
        font-size: 13vw;
        letter-spacing: -1px;
    }
    .bidang-slide p {
        font-size: 1rem;
    }
    .bidang-slide.active .bintang-besar {
        top: -30%;
        left: 0%;
        width: 12vw;
    }
    .bidang-slide.active .bintang-kecil {
        top: 100%;
        left: 80%;
        width: 10vw;
    }

    .bidang-nav {
        position: absolute;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20%;
    }
    .bidang-nav button {
        width: 28px;
        height: 28px;
        font-size: 1rem;
        border: 3px solid #D2B2FF;
    }
    .bidang-dots {
        flex-direction: row;
        gap: 5px;
    }

    .dot {
        width: 6px;
        height: 6px;
    }
    #prev i::before {
        content: "\f060"; 
    }
    #next i::before {
        content: "\f061";
    }
    .live-bidang .live {
        padding: 0 45px;
        animation: tickerMove 1.5s linear infinite;
    }
    .live-bidang img {
        width: 25%;
    }

    /*==================== TIMELINE SECTION ====================*/
    .timeline {
        height: 900px;
    }
    .timeline h2 {
        font-size: 13vw;
        margin-bottom: 2rem;
    }
    .timeline-container::before {
        bottom: 6%;
    }
    
    .timeline-item {
        padding: 0 1rem;
        width: 100%;
        grid-template-columns: 1fr 60px 1fr;
    }
    .timeline-content {
        max-width: 300px;
        padding: 1rem 1rem 1rem 0.8rem !important;
    }
    .timeline-content h3 {
        padding: 0;
        font-size: 0.66rem;
        margin: 0 0 0.5rem 0;
    }
    .timeline-content p {
        font-size: 0.6rem;
        margin: 0;
    }
    .timeline-circle {
        width: 35px;
        height: 35px;
        font-size: 1.3rem;
    }


    /*==================== DOKUMENTASI SECTION ====================*/
    .dokumentasi-section {
        padding: 1.5rem;
        height: 650px;
    }

    .dokumentasi-section h2 {
        font-size: 13vw;
    }

    .dokumentasi-section p {
        font-size: 0.75rem;
        margin-bottom: 2rem;
    }

    .dokumentasi-container {
        min-height: 250px;
        gap: 0.75em;
    }
    .dokumentasi-container div {
        border-radius: 0.8em;
    }

    
    /*==================== AFTERMOVIE SECTION ====================*/
    .aftermovie-section {
        height: 630px;
        padding: 5rem 2rem;
    }

    .aftermovie-section h2 {
        font-size: 13vw;
    }

    .aftermovie-section p {
        line-height: normal;
        font-size: 0.75rem;
    }
    .button-with-icon {
        width: 100px;
        height: 35px;
    }
    .aftermovie-section iframe {
        width: 90%;
    }

    /*==================== FAQ SECTION ====================*/
    .faq-section {
        height: 800px;
        
    }

    .faq-section .text-h2 {
        font-size: 11vw;
        letter-spacing: normal;
    }

    .faq-section .text-p {
        font-size: 1rem;
        max-width: 90%;
    }

    .faq-section .container-accordion {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 90%;
        margin-top: 20px;
    }

    .container-accordion li {
        padding: 0.5rem;
        margin: 8px 0;
    }

    .container-accordion li label, 
    .container-accordion .content p{
        font-size: 0.9rem;
    }

    .container-accordion li label i {
        font-size: 1.2rem;
        width: 25px;
        height: 25px;
    }

    /* =============== section Footer ================ */
    .footer-text{
        display: flex;
        position: relative;
        gap: 70px;
        padding: 20px 0 0 20px;
    }
    .logo-section{
        width: 35%;
    }
    .section-3{
        margin-top: -40px; 
    }
}   
