/* Reset */
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans";

}

/*==================== NAVBAR ====================*/
nav {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px;
    z-index: 1000;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo span {
    color: #7225E2;
    font-weight: bold;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: -2%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    background: linear-gradient(180deg, #2A049C, #5F29FF);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding: 8px 0;
    transition: background 300ms, border-bottom 300ms;
    border-bottom: 1px solid rgba(221, 37, 37, 0);
}

nav ul li a:hover {
    background: linear-gradient(180deg, #ff0000, #ff0000);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    border-bottom: 1px solid #ff0000;
}

.menu-icon {
    font-size: 2.5rem;
    display: none;
    color: #2A049C;
}

/*==================== HERO SECTION ====================*/
.hero-section {
    width: 100%;
    height: 700px;
    background-image: url(/assets/image/hero-section/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.hero-section .bintang-kirikecil{
    position: absolute;
    top: 55%;
    left: 3vw;
}
.hero-section .bintang-kiriatas{
    position: absolute;
    top: 14%;
    left: 10vw;
}
.hero-section .bintang-kiribesar{
    position: absolute;
    top: 43%;
    left: 23vw;
}
.hero-section .bintang-kanankecil{
    position: absolute;
    top: 10%;
    left: 83vw;
}
.hero-section .bintang-kananbawah{
    position: absolute;
    top: 55%;
    left: 66vw;
}
.hero-section .bintang-kananbesar{
    position: absolute;
    top: 10%;
    left: 62vw;
}
.hero-section .text-hero {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-hero h2{
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    font-weight: bold;
    letter-spacing: -4px;
}
.text-hero p{
    margin-top: 1rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

.text-hero .button {
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
    margin-top: 1rem;
    background-color: #ACB0FF;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform-origin: center;
    padding: 1rem 2rem;
    border: none;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
    transition: transform var(--transtion);
  }
  
  .text-hero .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #ACB0FF;
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .text-hero .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsla(260 97% 61% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .button:active {
    transform: scale(1);
  }
  
  .button .dots_border {
    --size_border: calc(100% + 2px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
    border-radius: var(--border_radius);
    z-index: -10;
  }
  
  .button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
    width: 100%;
    height: 2rem;
    background-color: white;
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .button .sparkle {
    position: relative;
    z-index: 10;
    width: 1.75rem;
  }
  
  .button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
    transform-origin: center;
    color: hsl(0, 0%, 100%);
  }
  
  .button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }
  
  .button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
  }
  .button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
  .button .text_button {
    position: relative;
    z-index: 10;
    background: linear-gradient(to bottom, #6A11CB, #2575FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    color: transparent;
  }
  

.hero-section .image-hero {
    bottom: 7%;
    max-width: 100%;
    position: absolute;
}
.hero-section .live-hero {
    width: 100%;
    height: 64px;
    background-color: #D8CBFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
}
@keyframes tickerMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.live-hero .live {
    min-width: 10%;
    display: flex;
    align-items: center;
    padding: 0 70px;
    flex-shrink: 0;
    animation: tickerMove 2s linear infinite;
}

.live-hero img {
    transform: scale(0.6);
}
.live-hero span {
    color: #7225E2;
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
}

/*==================== ABOUT SECTION ====================*/
.about-section{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    background:
        url(/assets/image/about-section/background.png),
        linear-gradient(180deg, #5F29FF, #2A049C);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 4rem 1rem;
    box-sizing: border-box;
}
.about-section .text-about {
    color: #FFFFFF;
    max-width: 90%;
    margin: auto
}
.text-about h2 {
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    font-weight: bold;
    letter-spacing: -4px;
}
.text-about p {
    max-width: 700px;
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin: 0 auto;
    line-height: 1.3;
}
.about-section .svg-about {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*==================== TUJUAN SECTION ====================*/
.tujuan-section{
    width: 100%;
    height: 764px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(/assets/image/tujuan-section/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.tujuan-section .text-tujuan{
    margin-top: 18rem;
    background: linear-gradient(0deg, #5F29FF, #2A049C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-tujuan h2 {
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    font-weight: bold;
    letter-spacing: -4px;   
}
.text-tujuan p {
    max-width: 750px;
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin: 0 auto;
    line-height: 1.3;
}
.tujuan-section .bintang-kirikecil{
    position: absolute;
    top: 68%;
    left: 3%;
}
.tujuan-section .bintang-kiriatas{
    position: absolute;
    top: 27%;
    left: 10%;
}
.tujuan-section .bintang-kiribesar{
    position: absolute;
    top: 62%;
    left: 28%;
}
.tujuan-section .bintang-kanankecil{
    position: absolute;
    top: 20%;
    left: 83%;
}
.tujuan-section .bintang-kananbawah{
    position: absolute;
    top: 65%;
    left: 67%;
}

/*==================== BIDANG SECTION ====================*/
.bidang-section {
    position: relative;
    width: 100%;
    height: 832px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background: 
        url(/assets/image/bidang-section/background.png),
        linear-gradient(180deg, #2A049C, #5F29FF);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bidang-container {
    position: relative;
    width: 100%;
    max-width: 1180px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    transition: opacity 0.5s, transform 0.5s;
}
.bidang-slide{
    display: none;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.bidang-slide.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
    position: relative;
}
.bidang-slide.active .bintang-besar {
    position: absolute;
    top: 0;
    left: 20%;
}
.bidang-slide.active .bintang-kecil {
    position: absolute;
    top: 35%;
    left: 69%;
}

.bidang-slide h2 {
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    flex-wrap: nowrap;
    font-weight: bold;
    letter-spacing: -4px;
    background: linear-gradient(90deg, #FFB8CF, #93E5FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bidang-slide p {
    max-width: 750px;
    font-size: clamp(1rem, 2vw, 1.25rem);
    color: #FFFFFF;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
.left {
    max-width: 800px;
    text-align: left;
    align-items: normal;
}
.left p {
    max-width: 905px;
}
/* Navigasi */
.bidang-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bidang-nav button {
    background: #D2B2FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 4px solid #D2B2FF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.bidang-nav button:hover {
    background: #D2B2FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bidang-dots {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    background: linear-gradient(90deg, #FFB8CF, #93E5FB);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    transform: scale(1.4);
    background: linear-gradient(90deg, #FFB8CF, #93E5FB);
}

.bidang-section .live-bidang {
    width: 100%;
    height: 64px;
    background-color: #D8CBFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes tickerMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.live-bidang .live {
    min-width: 10%;
    display: flex;
    align-items: center;
    padding: 0 70px;
    flex-shrink: 0;
    animation: tickerMove 2s linear infinite;
}

.live-bidang img {
    transform: scale(0.6);
}
.live-bidang span {
    color: #7225E2;
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
}


/*==================== TIMELINE SECTION ====================*/
.timeline {
    width: 100%;
    height: 1285px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: 
        url(/assets/image/timeline-section/background.png),
        linear-gradient(180deg, #5F29FF, #2A049C);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.timeline h2 {
    color: white;
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    font-weight: bold;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-container::before {
    content: "";
    position: absolute;
    width: 5px;
    background: white;
    top: 10%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.timeline-item {
    display: grid;
    grid-template-columns: 1fr 90px 1fr; 
    align-items: center;
    width: 70%; 
    position: relative;
    margin: 1rem 0;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Zigzag effect */
.timeline-item:nth-child(odd) .timeline-content {
    grid-column: 3 / 4; 
    text-align: left;
    padding-left: 2rem;
}

.timeline-item:nth-child(even) .timeline-content {
    grid-column: 1 / 2; 
    text-align: right;
    padding-right: 2rem;
}

.timeline-content {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%; 
}

/* Animasi Fade-in */
.timeline-item.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.timeline-content h3 {
    margin-bottom: 1.2rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 500;
    background: linear-gradient(0deg, #5F29FF, #2A049C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.timeline-content p {
    margin-bottom: 1.2rem;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 300;
    background: linear-gradient(0deg, #5F29FF, #2A049C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timeline-circle {
    width: 40px;
    height: 40px;
    background: white;
    color: #6600ff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 20px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

/*==================== DOKUMENTASI SECTION ====================*/
.dokumentasi-section {
    width: 100%;
    height: 1316px;
    background: linear-gradient(180deg, #2A049C, #5F29FF);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dokumentasi-section h2 {
    color: #FFFFFF;
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    font-weight: bold;
    letter-spacing: -4px;
    margin-bottom: 1rem;
}
.dokumentasi-section p {
    color: #FFFFFF;
    font-size: clamp(1rem, 2vw, 1rem);
    max-width: 1100px;
    font-weight: 300;
    margin-bottom: 2rem;
}

.dokumentasi-container {
    width: 100%;
    max-width: 1200px;
    min-height: 800px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 2em;
}
.dokumentasi-container div {
    border-radius: 2em;
    background-color: #D8CBFF;
}
.div1 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    
}
.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    
}
.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 9;
    
}
.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
    
}
.div5 {
    grid-column: span 9 / span 9;
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 4;
}
.div6 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 7;
}
    

/*==================== AFTERMOVIE SECTION ====================*/
.aftermovie-section {
    width: 100%;
    height: 900px;
    background: 
        url(/assets/image/aftermovie-section/background.png),
        linear-gradient(180deg, #5F29FF, #2A049C);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.aftermovie-section h2 {
    color: #FFFFFF;
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    font-weight: bold;
    max-width: 700px;
    letter-spacing: -4px;
}
.aftermovie-section p {
    color: #FFFFFF;
    font-size: clamp(1rem, 2vw, 1.25rem);
    max-width: 1143px;
    font-weight: 400;
    line-height: 28.8px;
}

.button-with-icon {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BFAAFF;
    font-family: "Istok Web", sans-serif;
    letter-spacing: 1px;
    padding: 0 12px;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 3px;
    outline: none;
    user-select: none;
    cursor: pointer;
    transform: translateY(0px);
    position: relative;
    margin-bottom: 1rem;
    box-shadow:
      inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
      inset 0 0 0 1px rgba(255, 255, 255, 0.3),
      inset 0 1px 20px rgba(0, 0, 0, 0),
      0 3px 0 #560f98,
      0 3px 2px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #BFAAFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    transition: 150ms all ease-in-out;
  }
  
  .button-with-icon .icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    transition: all 0.5s ease-in-out;
  }
  
  .button-with-icon:active {
    transform: translateY(3px);
    box-shadow:
      inset 0 16px 2px -15px rgba(0, 0, 0, 0),
      inset 0 0 0 1px rgba(255, 255, 255, 0.15),
      inset 0 1px 20px rgba(0, 0, 0, 0.1),
      0 0 0 #2A049C,
      0 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(0, 0, 0, 0);
  }
  
  .button-with-icon:hover .text {
    transform: translateX(80px);
  }
  .button-with-icon:hover .icon {
    transform: translate(23px);
  }
  
  .text {
    background: linear-gradient(to bottom, #2A049C, #5F29FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}
  
.aftermovie-section iframe {
    position: absolute;
    bottom: 0;
    width: 80%;
    max-width: 780px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    border: none;
}
.aftermovie-section .svg-aftermovie {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*==================== FAQ SECTION ====================*/
.faq-section {
    width: 100%;
    height: 980px;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:
        url(/assets/image/faq-section/background.png),
        linear-gradient(180deg, #ffffff, #ffffff);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.faq-section .text-h2 {
    background: linear-gradient(0deg, #5F29FF, #2A049C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(5.5rem, 8.64086vw, 6rem);
    font-weight: bold;
    letter-spacing: -4px;
    max-width: 780px;
}
.faq-section .text-p {
    background: linear-gradient(0deg, #5F29FF, #2A049C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400;
    margin-bottom: 1rem;
}
.faq-section button {
    border: none;
    background-color: #BFAAFF;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 1rem;
    padding: 10px 30px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.faq-section button span {
    background: linear-gradient(to bottom, #2A049C, #5F29FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-faq{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 10;
}

.faq-section .container-accordion {
    position: relative;
    z-index: 2;
}  

.container-accordion{
    margin-bottom: 5em;
    width: 600px;
}
.container-accordion li{
    list-style: none;
    width: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 16px;
    background: #D2B2FF;
}

.container-accordion li label{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #2E2E2E;
    font-size: 1rem;
    cursor: pointer;
    justify-content: space-between;
}
.container-accordion li label i {
    position: relative;
    font-size: 1.8rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px;
    border: 3px solid white; 
    border-radius: 50%; 
    background: linear-gradient(0deg, #5F29FF, #2A049C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, color 0.3s ease;
}

.container-accordion input[type="checkbox"]:checked + label i {
    transform: rotate(180deg);
}

input[type="checkbox"]{
    display: none;
  }
  .container-accordion .content{
    color: #FFFFFF;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .container-accordion input[type="checkbox"]:checked + label + .content{
    max-height: 500px;
    opacity: 1;
    transform: scale(1);
  }
  .container-accordion .content{
    display: flex;
    align-items: center;
  }
  .container-accordion .content p{
    color: #2E2E2E;
    max-width: 500px;
    text-align: left;
    font-size: 1rem;
  }

  /* =============== section Footer ================ */
 footer {
    background-color: #2A049C;
    color: white;
}

.footer-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 140px;
    padding: 20px 20px 0 250px;
}

.footer-section h4 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.footer-section ul li {
    list-style: none;
    margin: 15px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.0em;
}

.footer-section ul li a:hover {
    color: #b3b3b3;
}

.logo-section {
    text-align: center;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
}

.logo-footer {
    border-radius: 2rem;
  }
  
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #2A049C;
  }
  
  .footer-line {
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  
  .footer-bottom p {
    margin: 5px 0;
    color: white;
    font-size: 18px;
    text-align: center;
  }
  
  .footer-logo-container {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    max-width: 50px;
    margin: 10px 10px 10px 0;
  }
  
  .footer-logo-container p {
    margin: 0;
    color: white;
    font-size: 18px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 5px;
    font-size: 20px;
    transition: color 0.3s ease;
    background-color: #ffffff0c;
    border-radius: 50%;
    line-height: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons a:hover {
    color: #ffffffc2;
    background-color: #000000b0;
  }